// Microsoft Visual C++ generated resource script.
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
// Icon resources
//
IDI_APP_ICON           ICON    "resources/app.ico"
IDI_SMALL_ICON         ICON    "resources/small.ico"
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "AutoClicker"
            VALUE "FileDescription", "AutoClicker - Windows Auto Clicker"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "AutoClicker"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "AutoClicker.exe"
            VALUE "ProductName", "AutoClicker"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
